.top-bar {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #F2FFF2;
}
.nav-list{
	padding-right:28px;
}
.navbar-default {
	background-color: transparent;
}
.navbar {
	position: relative;
	min-height: 40px;
	margin-bottom: 0;
	border: none;
	border-radius:0;
}
.navbar-brand {
	padding: 0 15px;
	height: auto;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #000;
}
.navbar-default .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
	transition:all .5s ease;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #007800;
	border-color: #007800;
}
.nav > li > a {
	padding: 10px 20px;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-weight:900;
	letter-spacing:0.1em;
	font-size:16px;
}
.navbar-default .navbar-nav > li.current > a, 
.navbar-default .navbar-nav > li > a:hover {
	color: #007800;
	background-color: transparent;
}