header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
}

footer {
    align-items: center;
    text-align-last: center;
    font-size: 20px;
    margin: 40px;
    color: #007800;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer a{
    align-items: center;
    text-align-last: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(119, 58, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    :hover {
        color: #007800;
    }
    :active {
        color: rgb(165, 80, 0);
    }
}

.row:after { 
    content: "";
    display: table;
    clear: both;
}

.image{
    min-width:1cm;
}

.left {
    float: left;
    margin-right: 25px;
}  

.center {
    float: center;
    margin-right: 15px;
    margin-left: 15px;

}    

.right {
    float: right;
    margin-left: px;
}    

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: bold;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar {
    position:relative;
    display: flex;
    text-align: center;
    align-items: center;
    list-style: none;
    justify-content: center;
    background: rgb(255, 255, 255);
    margin-left: 20px auto;
    margin-right: 20px auto;
	font-size: 20px;
    color: rgb(119, 58, 0);
    :hover {
        color: #007800;
    }
    :active {
        color: rgb(165, 80, 0);
    }
}

.navbar-default .navbar-nav > li > a:hover {
	color: #007800;
	background-color: transparent;
}

.section-title {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-align: center;
	background-color: rgb(119, 58, 0);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    width:flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.social {
    position:relative;
    display: flex;
    align-items: right;
    list-style: none;
    justify-content: right;
    background: rgb(255, 255, 255);
    color: rgb(119, 58, 0);
    :hover {
        color: #007800;
    }
}

.inicio-section{
	padding: 120px 0 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.html-section{
	padding: 90px 0 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.css-section{
	padding: 90px 0 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.desarrollo-section{
	padding: 120px 0 75px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alt-bg{
	background:rgba(255, 237, 221, 0.733);
}

.col-md-1 {
    width: 10%;
}

.col-md-1_5 {
    width: 15%;
}
 
.col-md-2 {
    width: 20%;
}

.col-md-3 {
    width: 30%;
}
 
.col-md-4 {
    width: 40%;
}

.col-md-5 {
    width: 50%;
}
 
.col-md-6 {
    width: 60%;
}

.col-md-7 {
    width: 70%;
}
 
.col-md-8 {
    width: 80%;
}

.col-md-9 {
    width: 90%;
}
 
.col-md-10 {
    width: 100%;
}

a {
    color: rgb(119, 58, 0);
    text-decoration: none;
}    

li {
    float: left;
	color: rgb(119, 58, 0);
    margin: 20px;
}

h1 {
    font-size:40px;
	color:#007800;
}

h2 {
    font-size:30px;
	color:#007800;
}

h4 {
	font-size:20px;
	line-height:2em;
	letter-spacing:0.1em;
	font-weight:300;
}

.inicio-text{
	line-height: 1.5em;
}

.inicio-text h1 span{
	color:rgb(119, 58, 0);
}

.html-text{
	line-height: 1.5em;
}

.html-text h2 span{
	color:rgb(119, 58, 0);
}

.html-text li{
	color:rgb(0, 0, 0);
    margin-bottom:0;
    list-style-type: none;
}

.css-text{
	line-height: 1.5em;
}

.css-text h2 span{
	color:#007800;
}

.css-text li{
	color:rgb(0, 0, 0);
    margin-bottom:0;
    list-style-type: none;
    
}

.desarrollo-text{
	line-height: 1.5em;
}

.desarrollo-text h1 span{
	color:rgb(119, 58, 0);
}

/* Adaptaciones necesarias para que los elementos se adapten a las pantallas medianas */
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  
    .header {
      padding: 50px;
    }
  
    .header-post {
      padding: 10px;
    }
  }
  
/* Adaptaciones necesarias para que los elementos se adapten a las pantallas de menos de 500px */
@media (max-width: 500px) {
    .header {
        padding: 40px;
    }
  
    .header-post {
        padding: 0px
    }
  
    .topnav a {
        float: block;
        display: right;
    }
  
    .li {
        float: right;
        display: block;
    }
  
    h1 {
        font-size: 1.5em;
    }
  
    h3 {
        font-size: 1em;
        font-weight: 600;
    }
  
    .subtitulo {
        font-size: 0.8em;
    }
}
  
/* Adaptaciones necesarias para que los elementos se adapten a las pantallas de menos de 300px */
@media screen and (max-width:300px) {
    .column {
        width: 100%;
        font-size: 0.8em;
    }
  
    .header {
        padding: 30px;
    }
  
    .header-post {
        padding: 10px;
    }
  
    .topnav {
        font-size: 0.8em;
    }
  
    .post {
        font-size: 0.8em;
    }
  
    h3 {
        font-size: 1.1em;
    }
  
    h4 {
        font-size: 1em;
    }
  }