body {
    background-color: rgb(255, 255, 255);
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    padding: 10px;
}

.layout {
    margin: 0 auto;
    padding: 10px;
    max-width: 960px;
    justify-content: center;
    background-color: rgb(9, 80, 0);
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    text-anchor: middle;
    font-weight: 1000;
    margin: 10px 0;
    text-align: center;
    color:rgb(255, 255, 255);
}


h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
    color:rgb(255, 255, 255);
}

h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    color: #341f36;
}

.main {
    flex: 1; 
    flex-wrap: wrap; 
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}

.ej1, .ej2, .ej3, .ej4 {
    background-color: rgb(155, 177, 149);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#ejercicio1, #ejercicio3, #ejercicio4, #num1, #num2 {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 6px 12px;
    text-align: left;
    white-space: nowrap;
}

.my-button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.my-button:hover {
    background-color: #45a049;
}

.my-button:active {
    background-color: #3e8e41;
}

.footer {
    background-color: rgb(9, 80, 0);
    border-radius: 10px;
    margin: auto auto;
    padding: 2px;
    margin-top: 5px;
    max-width: 960px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

/* Adaptar para dispositivos móviles de menos de 500px */

@media screen and (max-width: 500px) {
    .layout {
        max-width: 90%;
    }

    .main {
        flex-wrap: wrap;
    }

    #palindrome, #vowels, #counting_vowels {
        width: 80%;
    }

    .footer {
        max-width: 90%;
    }
}
    
